@use "../global" as *;

/*!
fv
------------------------------
*/
.fv {
}

.fv__inner {
  position: relative;
}

.fv__swiper {
  margin-left: 40px;

  @include mq(md) {
    margin-left: 90px;
  }
}

.fv__swiper-wrapper {
}

.fv__swiper-slide {
}

.fv__text {
  position: absolute;
  bottom: 20px;
  left: 19px;
  z-index: 2;

  @include mq(md) {
    bottom: 60px;
    left: 50px;
  }
}

.fv__title {
  color: #023e78;
  font-family: var(--font-family-en);
  font-size: clamp(2.5rem, 1.394rem + 4.91vw, 3.75rem); // 40px ~ 60px
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;

  @include mq(md) {
    font-size: 60px;
  }

  & span {
    display: block;
    width: fit-content;
    background: #fff;
    line-height: 1.2;
    padding: 2px 4px;

    & + span {
      margin-top: 8px;

      @include mq(md) {
        margin-top: 16px;
      }
    }
  }
}

.fv__desc {
  color: #fff;
  font-family: var(--font-family-ja);
  font-size: clamp(1rem, 0.779rem + 0.98vw, 1.25rem); // 16px ~ 20px
  font-weight: 700;
  background: #023e78;
  line-height: 1.2;
  padding: 2px 4px;
  margin-top: 16px;

  @include mq(md) {
    font-size: 20px;
  }
}

/*!
about
------------------------------
*/
.about {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 104px;
    left: 0;
    width: 100%;
    height: 74%;
    background: #edf3f8;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 0;
  }

  @include mq(md) {
    margin-top: clamp(6.25rem, 1.563rem + 9.77vw, 9.375rem); // 100px ~ 150px
  }
}

.about__inner {
  padding-bottom: 350px;
  // .aboutの疑似要素の上に配置されるようにする
  position: relative;
  z-index: 1;
}

.about__heading {
  @include mq(md) {
    padding-top: 104px;
  }
}

.about__content {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.about__text {
  margin-top: 58px;
  font-size: 14px;
  font-weight: 500;

  @include mq(md) {
    width: calc(379px / 1100px * 100%);
    margin-top: clamp(3.5rem, -0.344rem + 8.01vw, 6.063rem); // 56px ~ 97px
  }
}

.about__desc {
  & + & {
    margin-top: 24px;
  }
}

.about__img-wrapper {
  flex: 1;
  margin-top: 30px;
  position: relative;

  @include mq(md) {
    margin-top: 0;
  }
}

.about__img {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  text-align: center;

  & img {
    width: 100%;
    aspect-ratio: 335/210;

    @include mq(md) {
      aspect-ratio: 681/426;
      max-width: 681px;
    }
  }
}

.about__link {
  position: absolute;
  z-index: 2;
  right: 20px;
  margin-top: 32px;

  @include mq(md) {
    top: -78px;
    right: 0;
  }
}

.about__img-bg {
  position: absolute;
  background: url(../../assets/img/about-bg-sp.png) no-repeat center center/cover;
  bottom: 0;
  top: 0;
  // .sectionのpaddingを引いた値
  right: -20px;
  width: clamp(18.438rem, -0.635rem + 84.77vw, 40rem); // 295px ~ 640px
  height: clamp(22.625rem, 9.468rem + 58.48vw, 37.5rem); // 362px ~ 600px
  z-index: 1;

  @include mq(md) {
    top: 0;
    right: 0;
    width: clamp(21.125rem, 5.987rem + 31.58vw, 31.25rem); // 338px ~ 500px
    height: clamp(42.5rem, 31.287rem + 23.39vw, 50rem); // 680px ~ 800px
  }
}

/*!
top-service
------------------------------
*/
.top-service {
  margin-top: -50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;

  &::before {
    content: "";
    position: absolute;
    bottom: 190px;
    left: 0;
    width: 100%;
    height: 50%;
    background: #edf3f8;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 0;
  }
}

.top-service__inner {
}

.top-service__heading {
}

.top-service__content {
  margin-top: 67px;
}

.top-service__items {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.top-service__item {
  position: relative;
}

.top-service__num {
  position: absolute;
  top: -55px;
  right: 0;

  & img {
    width: 99px;
  }
}

.top-service__img {
  text-align: center;
  & img {
    width: 320px;
  }
}

.top-service__name {
  color: #023e78;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 370px;
  left: -8px;

  & span {
    display: block;
    width: fit-content;
    background: #fff;
    line-height: 1.2;
    padding: 2px 4px;

    & + span {
      margin-top: 8px;
    }
  }
}

.top-service__text {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
}

.top-service__link {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

/*!
top-case
------------------------------
*/
.top-case {
  margin-top: -50px;
  background: url(../../assets/img/company-bg_sp.png) no-repeat center/cover;
}

.top-case__inner {
  padding-top: 60px;
  padding-bottom: 63px;
}

.top-case__heading {
  color: #fff;
}

.top-case__content {
  margin-top: 40px;
}

.top-case__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 58px;
}

.top-case__item {
}

.top-case__img {
  margin-inline: auto;
  background: #fff;
  width: 100%;
  aspect-ratio: 335/251;
  display: grid;
  place-items: center;
  & img {
    width: 160px;
    aspect-ratio: 1/1;
  }
}

.top-case__company {
  margin-top: 14px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 16px;
}

.top-case__detail {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-case__cat {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 5px 15px;
}

.top-case__more {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}

.top-case__more-link {
}

.top-case__link {
  margin-top: 65px;
}
