@use "../global" as *;

/*!
fv
------------------------------
*/
.fv {
}

.fv__inner {
  position: relative;
}

.fv__swiper {
  margin-left: 40px;

  @include mq(md) {
    margin-left: 90px;
  }
}

.fv__swiper-wrapper {
}

.fv__swiper-slide {
}

.fv__text {
  position: absolute;
  bottom: 20px;
  left: 19px;
  z-index: 2;

  @include mq(md) {
    bottom: 60px;
    left: 50px;
  }
}

.fv__title {
  color: var(--color-main);
  font-family: var(--font-family-en);
  font-size: clamp(2.5rem, 1.394rem + 4.91vw, 3.75rem); // 40px ~ 60px
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;

  @include mq(md) {
    font-size: 60px;
  }

  & span {
    display: block;
    width: fit-content;
    background: var(--color-white);
    line-height: 1.2;
    padding: 2px 4px;

    & + span {
      margin-top: 8px;

      @include mq(md) {
        margin-top: 16px;
      }
    }
  }
}

.fv__desc {
  color: var(--color-white);
  font-family: var(--font-family-ja);
  font-size: clamp(1rem, 0.779rem + 0.98vw, 1.25rem); // 16px ~ 20px
  font-weight: 700;
  background: var(--color-main);
  line-height: 1.2;
  padding: 2px 4px;
  margin-top: 16px;

  @include mq(md) {
    font-size: 20px;
  }
}

/*!
about
------------------------------
*/
.about {
  position: relative;
  overflow: hidden;

  @include mq(md) {
    margin-top: clamp(6.25rem, 1.563rem + 9.77vw, 9.375rem); // 100px ~ 150px
  }

  &::before {
    content: "";
    position: absolute;
    top: 104px;
    left: 0;
    width: 100%;
    height: 74%;
    background: #edf3f8;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 0;

    @include mq(md) {
      top: 145px;
      height: 61%;
    }
    @include mq(lg) {
      top: 122px;
    }
  }
}

.about__inner {
  padding-bottom: 350px;
  // .aboutの疑似要素の上に配置されるようにする
  position: relative;
  z-index: 1;
}

.about__heading {
  @include mq(md) {
    padding-top: 104px;
  }
}

.about__content {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.about__text {
  margin-top: 58px;
  font-size: 14px;
  font-weight: 500;

  @include mq(md) {
    width: calc(379px / 1100px * 100%);
    margin-top: clamp(3.5rem, -0.344rem + 8.01vw, 6.063rem); // 56px ~ 97px
  }
}

.about__desc {
  & + & {
    margin-top: 24px;
  }
}

.about__img-wrapper {
  flex: 1;
  margin-top: 30px;
  position: relative;

  @include mq(md) {
    margin-top: 0;
  }
}

.about__img {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  text-align: center;

  & img {
    width: 100%;
    aspect-ratio: 335/210;

    @include mq(md) {
      aspect-ratio: 681/426;
      max-width: 681px;
    }
  }
}

.about__link {
  position: absolute;
  z-index: 2;
  right: 20px;
  margin-top: 32px;

  @include mq(md) {
    top: -78px;
    right: 0;
  }
}

.about__img-bg {
  position: absolute;
  background: url(../../assets/img/about-bg-sp.png) no-repeat center center/cover;
  bottom: 0;
  top: 0;
  // .sectionのpaddingを引いた値
  right: -36px;
  width: clamp(18.438rem, -0.635rem + 84.77vw, 40rem); // 295px ~ 640px
  height: clamp(22.625rem, 9.468rem + 58.48vw, 37.5rem); // 362px ~ 600px
  z-index: 1;

  @include mq(md) {
    top: 0;
    right: 0;
    width: clamp(21.125rem, 5.987rem + 31.58vw, 31.25rem); // 338px ~ 500px
    height: clamp(42.5rem, 31.287rem + 23.39vw, 50rem); // 680px ~ 800px
  }
}

/*!
top-service
------------------------------
*/
.top-service {
  margin-top: -50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;

  @include mq(md) {
    margin-top: 0;
    padding-bottom: 104px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 190px;
    left: 0;
    width: 100%;
    height: 50%;
    background: #edf3f8;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 0;

    @include mq(md) {
      bottom: 157px;
      heigh: 45%;
    }
  }
}

.top-service__inner {
  @include mq(md) {
    // .more__linkの位置調整のため
    position: relative;
  }
}

.top-service__heading {
}

.top-service__content {
  margin-top: 67px;

  @include mq(md) {
    margin-top: 87px;
  }
}

.top-service__items {
  display: flex;
  flex-direction: column;
  gap: 73px;

  @include mq(md) {
    flex-direction: row;
    gap: clamp(2.5rem, -0.313rem + 5.86vw, 4.375rem); // 40px ~ 70px
  }
}

.top-service__item {
  position: relative;
  @include mq(md) {
    flex: 1;
  }

  &:nth-child(2) {
    @include mq(md) {
      margin-top: 60px;
    }
  }
  &:nth-child(3) {
    @include mq(md) {
      margin-top: 120px;
    }
  }
}

.top-service__num {
  position: absolute;
  top: -55px;
  right: 0;
  z-index: 1;

  & img {
    width: 99px;
  }
}

.top-service__img {
  text-align: center;
  position: relative;
  & img {
    width: clamp(20rem, 4.455rem + 66.33vw, 36.25rem); // 320px ~ 580px

    @include mq(md) {
      width: 100%;
    }
  }
}

.top-service__name {
  color: var(--color-main);
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  bottom: 60px;
  left: -8px;

  @include mq(md) {
    left: -16px;
    bottom: 33px;
    font-size: clamp(1.313rem, 0.656rem + 1.37vw, 1.75rem); // 21px ~ 28px
  }

  & span {
    display: block;
    width: fit-content;
    background: var(--color-white);
    line-height: 1.2;
    padding: 2px 4px;
    white-space: nowrap;

    & + span {
      margin-top: 8px;
    }
  }
}

.top-service__text {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
}

.top-service__link {
  margin-top: 40px;
  position: relative;
  z-index: 1;

  @include mq(md) {
    position: absolute;
    top: 18px;
    right: 0;
  }
}

/*!
top-case
------------------------------
*/
.top-case {
  margin-top: -50px;
  background: url(../../assets/img/company-bg_sp.png) no-repeat center/cover;

  @include mq(md) {
    margin-top: 0;
    background-image: url(../../assets/img/company-bg_pc.png);
  }
}

.top-case__inner {
  padding-top: 60px;
  padding-bottom: 63px;
  position: relative;

  @include mq(md) {
    padding-top: 100px;
    padding-bottom: 122px;
  }
}

.top-case__heading {
  color: var(--color-white);
}

.top-case__content {
  margin-top: 40px;

  @include mq(md) {
    margin-top: 80px;
  }
}

.top-case__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 58px;

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1.25rem, -3.438rem + 9.77vw, 4.375rem); // 20px ~ 70px
  }
}

.top-case__item {
  @include mq(sm) {
    width: 80%;
    margin-inline: auto;
  }
  @include mq(md) {
    width: 100%;
  }
}

.top-case__img {
  margin-inline: auto;
  background: var(--color-white);
  width: 100%;
  aspect-ratio: 335/251;
  display: grid;
  place-items: center;

  @include mq(md) {
    aspect-ratio: 320/240;
  }

  & img {
    width: 160px;
    aspect-ratio: 1/1;

    @include mq(md) {
      width: clamp(6.25rem, -3.125rem + 19.53vw, 12.5rem); // 100px ~ 200px
    }
  }
}

.top-case__company {
  margin-top: 14px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 16px;

  @include mq(md) {
    margin-top: 16px;
  }
}

.top-case__detail {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(md) {
    margin-top: 12px;
  }
}

.top-case__cat {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--color-white);
  padding: 5px clamp(0.313rem, -0.625rem + 1.95vw, 0.938rem); // 5px ~ 15px
}

.top-case__more {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  margin-right: 6.5px;
  transition: margin-right 0.3s;

  &:hover {
    margin-right: 0;
  }
}

.top-case__more-link svg {
  fill: var(--color-white);
  &:hover {
    fill: var(--color-accent-yellow);
  }
}

.top-case__link {
  margin-top: 65px;

  @include mq(md) {
    margin-top: 0;
    position: absolute;
    top: 150px;
    right: 0;
  }
}

/*!
top-news
------------------------------
*/
.top-news {
  position: relative;
  overflow: hidden;
  padding-bottom: 170px;

  @include mq(md) {
    margin-top: 165px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 77%;
    background: #edf3f8;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 0;

    @include mq(md) {
      top: 354px;
      height: 45%;
    }
  }
}

.top-news__inner {
  position: relative;
  z-index: 1;
}

.top-news__heading {
}

.top-news__content {
  margin-top: 60px;

  @include mq(md) {
    margin-top: 80px;
  }
}

.top-news__items {
  background: var(--color-white);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  padding: 40px 20px;

  @include mq(md) {
    max-width: 768px;
    margin-inline: auto;
    padding: 60px 40px 40px;
  }
}

.top-news__item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 32px;

  & + & {
    margin-top: 16px;

    @include mq(md) {
      margin-top: 20px;
    }
  }

  & a {
    cursor: pointer;
  }
}

.top-news__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-news__cat {
  border: 1px solid var(--color-accent-red);
  color: var(--color-accent-red);
  font-size: 12px;
  font-weight: 500;
  padding: 6px 20px;
  // 右側に自動マージンを設定
  margin-right: auto;

  @include mq(md) {
    font-size: 14px;
    padding: 8px 24px;
  }
}

.top-news__time {
  color: #888;
  font-size: 14px;
  font-weight: 500;
}

.top-news__title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;

  @include mq(md) {
    margin-top: 17px;
    font-size: 16px;
  }
}

.top-news__link {
  margin-top: 40px;

  @include mq(md) {
    margin-top: 0;
    position: absolute;
    top: 60px;
    right: 0;
  }
}
