@use "../global" as *;

/*!
fv
------------------------------
*/
.fv {

}

.fv__inner {
  position: relative;

}

.fv__swiper {
  margin-left: 40px;

  @include mq(md) {
    margin-left: 90px;
  }

}

.fv__swiper-wrapper {
}

.fv__swiper-slide {
}

.fv__text {
  position: absolute;
  bottom: 20px;
  left: 19px;
  z-index: 2;

  @include mq(md) {
  bottom: 60px;
  left: 50px;
  }
}

.fv__title {
  color: #023E78;
  font-family: var(--font-family-en);
  font-size: clamp(2.5rem, 1.394rem + 4.91vw, 3.75rem); // 40px ~ 60px
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;

  @include mq(md) {
    font-size: 60px;
  }


  & span{
    display: block;
    width: fit-content;
    background: #FFF;
    line-height: 1.2;
    padding: 2px 4px;

    & + span {
      margin-top: 8px;

      @include mq(md) {
        margin-top: 16px;
      }
    }
  }
}

.fv__desc {
  color: #FFF;
  font-family: var(--font-family-ja);
  font-size: clamp(1rem, 0.779rem + 0.98vw, 1.25rem); // 16px ~ 20px
  font-weight: 700;
  background: #023E78;
  line-height: 1.2;
  padding: 2px 4px;
  margin-top: 16px;

  @include mq(md) {
    font-size: 20px;
  }
}

/*!
about
------------------------------
*/
.about {
  position: relative;
  background: url(../../assets/img/about-bg-lb.png) no-repeat center center/cover;
}

.about__inner {
  padding-bottom: 350px;
}

.about__heading {

}

.about__content {
  margin-top: 58px;
}

.about__text {
  font-size: 14px;
  font-weight: 500;

}

.about__desc {
  & + & {
    margin-top: 24px;
  }

}

.about__img-wrapper{
margin-top: 30px;
position: relative;
}

.about__img {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  text-align: center;

  & img {
    width: 100%;
aspect-ratio: 335/210;

  }
}


.about__link {
  position: absolute;
  z-index: 2;
right: 20px;
margin-top: 32px;
}

.more-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.more-link__text {
  color: #FFF;
font-family: var(--font-family-en);
font-size: 20px;
font-style: italic;
font-weight: 500;
position: relative;

&::after{
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  right: calc(-13px - 64px);
  width: 64px;
  height: 10px;
  border: none;
  border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    transform: skew(45deg);
    transition: all 0.3s;
}

&:hover::after{
  right: -108px;
  width: 94px;
}
}

.more-link__circle {
  background: transparent;
  border-radius: 50%;
  border: 2px solid #FFF400;
  width: 40px;
  height: 40px;
  margin-left: 57px;
}

.about__img-bg{
position: absolute;
background:url(../../assets/img/about-bg-sp.png) no-repeat center center/cover;
bottom: 0;
top: 0;
// .sectionのpaddingを引いた値
right: -20px;
width: clamp(18.438rem, -0.635rem + 84.77vw, 40rem); // 295px ~ 640px
height: clamp(22.625rem, 9.468rem + 58.48vw, 37.5rem); // 362px ~ 600px
z-index: 1;
}