@use "../global" as *;

/*!
page > service > service
------------------------------
*/
.service__program {

}

.program {

}

.program__inner {

}

.program__title {
  text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 1.4;

}

.program__content {
  margin-top: 60px;

}

.program__item {
  & + & {
    margin-top: 231px;
  }

}

.program__img {
  width: 100vw;
  z-index: 1;
  & img{
    position: absolute;
  right: 0;
    width: 188px;
aspect-ratio: 188/301;
  }
}

.service__program_2{
  & .program__img{
    & img{
      left: 0;
    }
  }

  & .program__num{
    right: 0;
  }
}

.program__text {
  background: rgba(255, 255, 255, 0.90);
box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
position: relative;
z-index: 2;
top: 153px;
padding: 40px 20px;

}

.program__head {
  position: relative;
}

.program__num {
  position: absolute;
top: -82px;
& img{
  width: 72px;
}

}

.program__title-jp {
font-size: 28px;
font-weight: 700;
line-height: 1.4;

}

.program__title-en {
  color: #023E78;
font-family: var(--font-family-en);
font-size: 14px;
font-style: italic;
font-weight: 500;

}

.program__detail {
  margin-top: 31px;
font-size: 14px;
font-weight: 500;

}

.program__data {
  margin-top: 30px;

}

.program__table {
  & tr{
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    font-size: 14px;
  }

  & th{
    font-weight: 700;
    padding-right: 52px;
    white-space: nowrap;
    padding-top: 18px;
    padding-bottom: 18px;
}

  & td{
    font-weight: 500;
}

}

.program__button {
  margin-top: 32px;
  text-align: center;

}


/*!
page > service > flow
------------------------------
*/
.service__flow {

}

.flow {
  margin-top: calc(60px + 153px);
  background: url(../../assets/img/company-bg_sp.png) no-repeat center/cover;
  margin-inline: calc(50% - 50vw);
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 23px;

  @include mq(md) {
    background-image: url(../../assets/img/company-bg_pc.png);
  }
}

.flow__inner {
  // margin-top: 60px;

}

.flow__title {
  color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 700;

}

.flow__content {
  margin-top: 40px;

}

.flow__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;

}

.flow__step {
  color: #FFF400;
  text-transform: uppercase;
  font-family: var(--font-family-en);
  font-style: italic;
font-weight: 500;
line-height: 1.2;
}

.flow__step-en {
font-size: 20px;
}

.flow__step-num {
font-size: 40px;
}

.flow__text {
  padding: 20px 20px;
  max-width: 480px;

}

.flow__text-1{
  background: #EDF3F8;
}
.flow__text-2{
  background: #DDE8F0;

}
.flow__text-3{
background: #C7DBE9;
}
.flow__text-4{
background: #B0D0E5;
}

.flow__head {
  color: #023E78;
text-align: center;
font-size: 18px;
font-weight: 700;

}

.flow__body {

}

.flow__body--pink {

}


/*!
page > service > qa
------------------------------
*/
.service__qa {

}

.qa {

}

.qa__inner {

}

.qa__title {


}

.qa__content {

}

.qa__box {

}

.js-details {

}

.is-open {

}

.qa__summary {

}

.js-summary {

}

.qa__summary-text {

}

.qa__summary-button {

}

.qa__answer {

}

.js-content {

}

.qa__answer-inner {

}

.qa__answer-text {

}

