@use "../global" as *;

/*!
page > service > service
------------------------------
*/
.service__program {
}

.program {
  @include mq(md) {
    max-width: 1100px;
    margin-inline: auto;
  }
}

.program__inner {
}

.program__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: 28px;
  }
}

.program__content {
  margin-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 249%;
    left: 0;
    right: 0;
    width: 100%;
    height: 150%;
    background: #edf3f8;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 0;

    @include mq(sm) {
      top: 200%;
      height: 100%;
    }

    @include mq(md) {
      top: 229%;
      height: 115%;
    }

    @include mq(lg) {
      top: 239%;
      height: 110%;
    }

    @include mq(xl) {
      top: 230%;
      height: 114%;
    }

    @include mq(md) {
      margin-top: 133px;
    }
  }
}

.program__item {
  @include mq(md) {
    position: relative;
  }

  & + & {
    margin-top: 231px;

    @include mq(md) {
      margin-top: 347px;
    }
  }
}

.program__img {
  width: 100vw;
  z-index: 1;

  & img {
    position: absolute;

    right: 0;
    width: 188px;
    aspect-ratio: 188/301;

    @include mq(md) {
      width: 560px;
      aspect-ratio: 560/896;
      right: -20px;
      top: 63px;
    }
  }
}

.service__program_2 {
  & .program__img {
    & img {
      left: 0;

      @include mq(md) {
        left: -20px;
      }
    }
  }

  & .program__num {
    right: 0;
  }

  & .program__text {
    @include mq(md) {
      margin-left: auto;
    }
  }
}

.program__text {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 2;
  top: 153px;
  padding: 40px 20px;

  @include mq(md) {
    top: 0;
    padding: 82px 40px 60px;
    width: 590px;
  }
}

.program__head {
  position: relative;
}

.program__num {
  position: absolute;
  top: -82px;

  @include mq(md) {
    top: -140px;
  }
  & img {
    width: 72px;

    @include mq(md) {
      width: 103px;
    }
  }
}

.program__title-jp {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: 40px;
  }
}

.program__title-en {
  color: var(--color-main);
  font-family: var(--font-family-en);
  font-size: 14px;
  font-style: italic;
  font-weight: 500;

  @include mq(md) {
    font-size: 16px;
  }
}

.program__detail {
  margin-top: 31px;
  font-size: 14px;
  font-weight: 500;

  @include mq(md) {
    margin-top: 59px;
  }
}

.program__data {
  margin-top: 30px;

  @include mq(md) {
    margin-top: 58px;
  }
}

.program__table {
  & tr {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 14px;
  }

  & th {
    font-weight: 700;
    padding-right: 52px;
    white-space: nowrap;
    padding-top: 18px;
    padding-bottom: 18px;

    @include mq(md) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  & td {
    font-weight: 500;
  }
}

.program__button {
  margin-top: 32px;
  text-align: center;

  @include mq(md) {
    margin-top: 60px;
  }
}

/*!
page > service > flow
------------------------------
*/
.service__flow {
}

.flow {
  margin-top: calc(60px + 153px);
  background: url(../../assets/img/company-bg_sp.png) no-repeat center/cover;
  margin-inline: calc(50% - 50vw);
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 23px;

  @include mq(md) {
    background-image: url(../../assets/img/company-bg_pc.png);
    margin-top: 160px;
    padding-top: 80px;
    padding-bottom: 119px;
  }
}

.flow__inner {
  @include mq(md) {
    max-width: 1100px;
    margin-inline: auto;
  }
}

.flow__title {
  color: var(--color-white);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.flow__content {
  margin-top: 40px;

  @include mq(md) {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
}

.flow__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  gap: 17px;

  @include mq(md) {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.flow__step {
  color: var(--color-accent-yellow);
  text-transform: uppercase;
  font-family: var(--font-family-en);
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(md) {
    flex-direction: row;
    align-items: end;
    gap: 7px;
  }
}

.flow__step-en {
  font-size: 20px;

  @include mq(md) {
    line-height: 1.8;
  }
}

.flow__step-num {
  font-size: 40px;
}

.flow__text {
  width: 72vw;
  max-width: 400px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-inline: 20px;
  position: relative;

  @include mq(md) {
    width: 100%;
    padding-top: clamp(1rem, -1.813rem + 5.86vw, 2.875rem); //16px ~ 46px

    height: 209px;
    padding-left: clamp(2.25rem, 1.594rem + 1.37vw, 2.688rem); // 36px ~ 43px
    padding-right: clamp(1.125rem, 0.563rem + 1.17vw, 1.5rem); // 18px ~ 24px
  }
}

.flow__text-2,
.flow__text-3,
.flow__text-4 {
  padding-top: 42px;

  @include mq(md) {
    padding-top: clamp(1rem, -1.813rem + 5.86vw, 2.875rem); //16px ~ 46px
  }
}

.flow__text-1,
.flow__text-2,
.flow__text-3 {
  &::after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 32vw 0 32vw;
    z-index: 1;
    transform: translateX(-50%) translateY(100%);

    @media screen and (min-width: 556px) {
      // 幅が400px固定になったら、::afterのborder-widthの幅も固定にする
      border-width: 26px 200px 0 200px;
    }

    @include mq(md) {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      border-width: 104.5px 0 104.5px 20px;
    }
  }
}

.flow__text-1 {
  background: #edf3f8;

  &::after {
    border-color: #edf3f8 transparent transparent transparent;

    @include mq(md) {
      border-color: transparent transparent transparent #edf3f8;
    }
  }
}
.flow__text-2 {
  background: #dde8f0;
  &::after {
    border-color: #dde8f0 transparent transparent transparent;

    @include mq(md) {
      border-color: transparent transparent transparent #dde8f0;
    }
  }
}
.flow__text-3 {
  background: #c7dbe9;

  &::after {
    border-color: #c7dbe9 transparent transparent transparent;

    @include mq(md) {
      border-color: transparent transparent transparent #c7dbe9;
    }
  }
}
.flow__text-4 {
  background: #b0d0e5;

  &::after {
    border-color: #b0d0e5 transparent transparent transparent;

    @include mq(md) {
      border-color: transparent transparent transparent #b0d0e5;
    }
  }
}

.flow__head {
  color: var(--color-main);
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  @include mq(md) {
    font-size: clamp(1.125rem, 0.938rem + 0.39vw, 1.25rem); // 18px ~ 20px
    line-height: 1.4;
  }
}

.flow__body {
  margin-top: 7px;

  @include mq(md) {
    margin-top: clamp(0.375rem, -0.75rem + 2.34vw, 1.125rem); // 6px ~ 18px
  }
  & span {
    display: block;
  }
}

.flow__body--pink {
  color: var(--color-accent-red);
}

/*!
page > service > qa
------------------------------
*/
.service__qa {
}

.qa {
  margin-top: 60px;
  margin-bottom: 100px;

  @include mq(md) {
    margin-top: 160px;
    margin-bottom: 160px;
  }
}

.qa__inner {
  @include mq(md) {
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
  }
}

.qa__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.qa__content {
  margin-top: 56px;

  @include mq(md) {
    margin-top: 60px;
  }
}

.qa__box {
  border-bottom: 1px solid #ddd;
}

.qa__summary {
  display: flex;
  align-items: flex-start;
  gap: 41px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;

  @include mq(md) {
    gap: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  // safari用
  &::-webkit-details-marker {
    display: none;
  }
}

.qa__summary-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: 20px;
  }

  .qa__box.is-open & {
    color: var(--color-accent-red);
  }
}

.qa__summary-button {
  width: 21px;
  height: 21px;
  position: relative;
  display: block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 2px;
    background: var(--color-black);
    transform: translate(-50%, -50%);

    .qa__box.is-open & {
      background: var(--color-accent-red);
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform 0.3s;

    // QAが開いている時
    .qa__box.is-open & {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &::after {
    // QAが開いている時
    .qa__box.is-open & {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

.qa__answer {
}

.qa__answer-inner {
  padding-top: 18px;
  padding-bottom: 19px;

  @include mq(md) {
    padding-top: 0;
    padding-bottom: 31px;
  }
}

.qa__answer-text {
  font-size: 14px;
  font-weight: 500;
}
