@use "../global" as *;

/*!
page > service > service
------------------------------
*/
.service__program {
}

.program {
  @include mq(md) {
    max-width: 1100px;
    margin-inline: auto;
  }
}

.program__inner {
}

.program__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: 28px;
  }
}

.program__content {
  margin-top: 60px;

  @include mq(md) {
    margin-top: 133px;
  }
}

.program__item {
  @include mq(md) {
    position: relative;
  }

  & + & {
    margin-top: 231px;

    @include mq(md) {
      margin-top: 347px;
    }
  }
}

.program__img {
  width: 100vw;
  z-index: 1;

  & img {
    position: absolute;

    right: 0;
    width: 188px;
    aspect-ratio: 188/301;

    @include mq(md) {
      width: 560px;
      aspect-ratio: 560/896;
      right: -20px;
      top: 63px;
    }
  }
}

.service__program_2 {
  & .program__img {
    & img {
      left: 0;

      @include mq(md) {
        left: -20px;
      }
    }
  }

  & .program__num {
    right: 0;
  }

  & .program__text {
    @include mq(md) {
      margin-left: auto;
    }
  }
}

.program__text {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 2;
  top: 153px;
  padding: 40px 20px;

  @include mq(md) {
    top: 0;
    padding: 82px 40px 60px;
    width: 590px;
  }
}

.program__head {
  position: relative;
}

.program__num {
  position: absolute;
  top: -82px;

  @include mq(md) {
    top: -140px;
  }
  & img {
    width: 72px;

    @include mq(md) {
      width: 103px;
    }
  }
}

.program__title-jp {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: 40px;
  }
}

.program__title-en {
  color: #023e78;
  font-family: var(--font-family-en);
  font-size: 14px;
  font-style: italic;
  font-weight: 500;

  @include mq(md) {
    font-size: 16px;
  }
}

.program__detail {
  margin-top: 31px;
  font-size: 14px;
  font-weight: 500;

  @include mq(md) {
    margin-top: 59px;
  }
}

.program__data {
  margin-top: 30px;

  @include mq(md) {
    margin-top: 58px;
  }
}

.program__table {
  & tr {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 14px;
  }

  & th {
    font-weight: 700;
    padding-right: 52px;
    white-space: nowrap;
    padding-top: 18px;
    padding-bottom: 18px;

    @include mq(md) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  & td {
    font-weight: 500;
  }
}

.program__button {
  margin-top: 32px;
  text-align: center;

  @include mq(md) {
    margin-top: 60px;
  }
}

/*!
page > service > flow
------------------------------
*/
.service__flow {
}

.flow {
  margin-top: calc(60px + 153px);
  background: url(../../assets/img/company-bg_sp.png) no-repeat center/cover;
  margin-inline: calc(50% - 50vw);
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 23px;

  @include mq(md) {
    background-image: url(../../assets/img/company-bg_pc.png);
  }
}

.flow__inner {
  // margin-top: 60px;
}

.flow__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.flow__content {
  margin-top: 40px;
}

.flow__item {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // gap: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.flow__step {
  color: #fff400;
  text-transform: uppercase;
  font-family: var(--font-family-en);
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
}

.flow__step-en {
  font-size: 20px;
}

.flow__step-num {
  font-size: 40px;
}

.flow__text {
}

.flow__text-1 {
  // background: #EDF3F8;
  // background-image: url(../../assets/img/service-flow-bg1_sp.png);
}
.flow__text-2 {
  // background: #DDE8F0;
  // background-image: url(../../assets/img/service-flow-bg2_sp.png);
}
.flow__text-3 {
  // background: #C7DBE9;
  // background-image: url(../../assets/img/service-flow-bg3_sp.png);
}
.flow__text-4 {
  // background: #B0D0E5;
  // background-image: url(../../assets/img/service-flow-bg4_sp.png);
}

.flow__head {
  color: #023e78;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.flow__body {
  & span {
    display: block;
  }
}

.flow__body--pink {
  color: #e61264;
}

/*!
page > service > qa
------------------------------
*/
.service__qa {
}

.qa {
  margin-top: 60px;
  margin-bottom: 100px;

  @include mq(md) {
    margin-top: 160px;
    margin-bottom: 160px;
  }
}

.qa__inner {
  @include mq(md) {
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
  }
}

.qa__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.qa__content {
  margin-top: 56px;

  @include mq(md) {
    margin-top: 60px;
  }
}

.qa__box {
  border-bottom: 1px solid #ddd;
}

.qa__summary {
  display: flex;
  align-items: flex-start;
  gap: 41px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;

  @include mq(md) {
    gap: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  // safari用
  &::-webkit-details-marker {
    display: none;
  }
}

.qa__summary-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: 20px;
  }

  .qa__box.is-open & {
    color: #e61264;
  }
}

.qa__summary-button {
  width: 21px;
  height: 21px;
  position: relative;
  display: block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 2px;
    background: #1a1a1a;
    transform: translate(-50%, -50%);

    .qa__box.is-open & {
      background: #e61264;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform 0.3s;

    // QAが開いている時
    .qa__box.is-open & {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &::after {
    // QAが開いている時
    .qa__box.is-open & {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

.qa__answer {
}

.qa__answer-inner {
  padding-top: 18px;
  padding-bottom: 19px;

  @include mq(md) {
    padding-top: 0;
    padding-bottom: 31px;
  }
}

.qa__answer-text {
  font-size: 14px;
  font-weight: 500;
}
