@use "../global" as *;

/*!
layout > container
------------------------------
*/
.section {
  margin-top: 60px;
  margin-inline: auto;
  padding-inline: 20px;

  @include mq(md) {
    padding-inline: 0;
  }
}

.inner{
  @include mq(md) {
    width: calc(1100px / 1280px * 100%);
    margin-inline: auto;
    max-width: 1350px;
  }
}
