@use "../global" as *;

/*!
layout > footer
------------------------------
*/
.footer {
  position: relative;
  z-index: 1;
}

.footer__inner {
}

.footer__top {
  display: flex;
  flex-direction: column;

  @include mq(lg) {
    flex-direction: row;
  }
}

.footer__download,
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 25px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(lg) {
    width: 50%;
    padding-top: 55px;
    padding-bottom: 49px;
  }
}

.footer__download {
  background-image: url(../../assets/img/footer-bg-download-sp.png);

  @include mq(lg) {
    background-image: url(../../assets/img/footer-bg-download-pc.png);
  }
}

.footer__contact {
  background-image: url(../../assets/img/footer-bg-contact-sp.png);

  @include mq(lg) {
    background-image: url(../../assets/img/footer-bg-contact-pc.png);
  }
}

.footer__title {
  color: var(--color-white);
  line-height: 1.2;
  & span {
    display: block;
  }
}

.footer__title-en {
  font-family: var(--font-family-en);
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6px;

  @include mq(lg) {
    font-size: 60px;
    margin-bottom: 3px;
  }
}

.footer__title-ja {
  font-size: 16px;
  font-weight: 700;
}

.footer__button {
  margin-top: 40px;
}

.footer__bottom {
  padding-top: 70px;
  background: var(--color-black);
  color: var(--color-white);

  @include mq(lg) {
    padding-top: 120px;
  }
}

.footer__logo {
  text-align: center;
  font-family: var(--font-family-logo);
  font-size: 40px;
  font-style: italic;
  font-weight: 700;

  @include mq(lg) {
    font-size: 52px;
  }
}

.footer__info {
  // 中央寄せ
  width: fit-content;
  margin: auto;
  margin-top: 22px;
}

.footer__info-item {
  font-size: 14px;
  font-weight: 500;
}

.footer__copy {
  padding-top: 38px;
  padding-bottom: 13px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  text-align: center;

  @include mq(lg) {
    padding-top: 76px;
    padding-bottom: 17px;
    font-size: 14px;
  }
}

.floating {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;

  @include mq(lg) {
    bottom: 40px;
    right: 20px;
  }

  & svg {
    width: 40px;
    height: 40px;
  }
}
