@use "../global" as *;

/*!
layout > header
------------------------------
*/
.header {
  background: var(--color-white);
  padding: 14px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  line-height: 1.14;

  @include mq(lg) {
    padding: 26px 16px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: #023e78;
  font-family: var(--font-family-logo);
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.14px;
  text-transform: capitalize;

  @include mq(lg) {
    font-size: clamp(1.75rem, -0.026rem + 3.16vw, 2.5rem); // 28px ~ 40px
  }
}

.header__nav {
  display: none;
  @include mq(lg) {
    display: flex;
    align-items: center;
  }
}

.header__list {
  @include mq(lg) {
    display: flex;
    flex-direction: row;
  }

  & li {
    color: #1a1a1a;
    text-align: center;
    font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem); // 13px ~ 14px
    font-weight: 500;

    & + li {
      &::before {
        content: "ï¼";
        display: inline-block;
        width: 14px;
        margin: 0 clamp(0.375rem, -1.105rem + 2.63vw, 1rem); // 6px ~ 16px
      }
    }
  }
}

.header__nav-button {
  display: flex;
  margin-left: clamp(1rem, -1.368rem + 4.21vw, 2rem); // 16px ~ 32px
  gap: clamp(0.375rem, -0.217rem + 1.05vw, 0.625rem); // 6px ~ 10px;
}

.nav-button {
}

/*!
layout > header > drawer-icon
------------------------------
*/
.drawer-icon {
  width: 27px;
  height: 18px;
  position: relative;
  z-index: 51;

  @include mq(lg) {
    display: none;
  }

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 12px;
        transform: rotate(135deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 12px;
        transform: rotate(-135deg);
      }
    }

    & .drawer-icon__bar-dot {
      display: none;
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 2.25px;
  background: #023e78;
  border-radius: 3px;
  transition: all 0.3s linear;

  &:nth-of-type(1) {
  }

  &:nth-of-type(2) {
    top: calc(4.5px + 2.25px);
  }

  &:nth-of-type(3) {
    top: calc(11.25px + 2.25px);
  }
}

.drawer__panel {
  position: fixed;
  top: 60px;
  z-index: 50;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background: #023e78;
  transform: translateY(-100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateY(0);
  }
}

.drawer__nav {
}

.drawer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;

  & li {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
  }
}

.drawer__nav-button {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav-button {
}
