@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@1,700&display=swap");
:root {
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-en: "Fira Sans", sans-serif;
  --font-family-logo: "Roboto", sans-serif;
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-main: #163f74;
  --color-main-dark: #002a52;
  --color-main-light: #eef3f8;
  --color-accent-yellow: #fef251;
  --color-accent-red: #d33365;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media screen and (min-width: 900px) {
  html {
    scroll-padding-top: 100px;
  }
}
html:has(dialog[open]) {
  overflow: hidden;
}

body {
  font-family: var(--font-family-jp);
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: 500;
}
body.isScrollAllowed {
  overflow: hidden;
}

.hidden-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden-sp {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

/*!
component > button
------------------------------
*/
.button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.button--lg {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 295px;
  font-size: 16px;
}

.button--sm {
  padding-top: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem);
  padding-bottom: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem);
  font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem);
  width: clamp(7.813rem, 0.263rem + 13.42vw, 11rem);
}

.button--primary {
  background: #023e78;
  color: #fff;
  border: 1px solid currentColor;
}

.button--secondary {
  background: #fff;
  color: #023e78;
  border: 1px solid currentColor;
}

.button--more {
  font-family: var(--font-family-en);
  background: transparent;
  color: #fff400;
  border: 2px solid #fff400;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 295px;
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 900px) {
  .button--more {
    border: 3px solid #fff400;
    padding-top: 31px;
    padding-bottom: 32px;
    width: 315px;
    font-size: 24px;
  }
}
.button--more:hover {
  background: #fff400;
  color: #1a1a1a;
}
.button--more:after {
  content: url(../../assets/img/icon-arrow--yellow.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 900px) {
  .button--more:after {
    right: 29px;
  }
}

.button--arrow {
  font-size: 14px;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  width: 295px;
  position: relative;
}
@media screen and (min-width: 900px) {
  .button--arrow {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 25px;
    width: 336px;
  }
}
.button--arrow:after {
  content: url(../../assets/img/icon-arrow--blue.svg);
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 900px) {
  .button--arrow:after {
    right: 26px;
  }
}

/*!
component > heading
------------------------------
*/
.heading {
  color: #023e78;
  line-height: 1.2;
}

.heading__en {
  font-family: var(--font-family-en);
  font-size: 52px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .heading__en {
    font-size: clamp(4.875rem, 2.813rem + 4.3vw, 6.25rem);
  }
}

.heading__ja {
  font-family: var(--font-family-ja);
  font-size: 16px;
  font-weight: 700;
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .heading__ja {
    font-size: clamp(1.25rem, 0.875rem + 0.78vw, 1.5rem);
    margin-top: 0;
  }
}

/*!
component > form-field
------------------------------
*/
input,
textarea,
select {
  outline: none;
  border: 1px solid transparent;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 900px) {
  .form-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}

.form-field-message {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3px;
}

.form-field__head {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 900px) {
  .form-field__head {
    min-width: 180px;
  }
}

.form-field__label {
  font-size: 14px;
}
.form-field__label.is-error {
  color: var(--color-red);
}
@media screen and (min-width: 900px) {
  .form-field__label {
    font-size: 16px;
  }
}

.form-field__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 4px;
  font-size: 14px;
  padding: 2px 6px;
}
@media screen and (min-width: 900px) {
  .form-field__tag {
    font-size: 12px;
    padding: 3px 8px;
  }
}

.form-field__item {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .form-field__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.form-text {
  border-radius: 8px;
  background: var(--color-gray);
  padding: 16px;
  font-size: 14px;
  width: 100%;
}
.form-text::-webkit-input-placeholder {
  color: var(--color-dgray);
}
.form-text::-moz-placeholder {
  color: var(--color-dgray);
}
.form-text:-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-text::-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-text::placeholder {
  color: var(--color-dgray);
}
.form-text:focus {
  background: var(--color-sub-lblue);
  border-color: var(--color-main);
}
.form-text.is-error {
  border-color: var(--color-red);
  background: #fff0f7;
}
@media screen and (min-width: 900px) {
  .form-text {
    font-size: 16px;
  }
}

.form-select {
  position: relative;
  width: 100%;
  height: 56px;
  padding: 14.5px 15px;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-image: url(../images/icon-select-arrow.svg), linear-gradient(to left, #9ed0e0 52px, #f5f5f5 52px);
  background-repeat: no-repeat, no-repeat;
  background-position: center right 11px, center center;
  border: 1px solid transparent;
  border-radius: 8px;
}
.form-select:focus {
  border-color: var(--color-main);
}
.form-select.is-error {
  background-image: url(../images/icon-select-arrow.svg), linear-gradient(to left, #ce2073 52px, #fff0f7 52px);
  border-color: #ce2073;
}
@media screen and (min-width: 900px) {
  .form-select {
    font-size: 16px;
  }
}

.form-field__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 900px) {
  .form-radio {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.form-radio__input:checked + .form-radio__text {
  font-weight: 700;
}
.form-radio__input:checked + .form-radio__text:after {
  opacity: 1;
}
.form-radio__input:focus + .form-radio__text::before {
  border-color: var(--color-main);
}

.form-radio__text {
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .form-radio__text {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.form-radio__text::before, .form-radio__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-radio__text:before {
  width: 24px;
  height: 24px;
  background-color: var(--color-gray);
  left: 0;
  border: 1px solid transparent;
}
.form-radio__text:after {
  width: 12px;
  height: 12px;
  background: var(--color-main);
  left: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-textarea {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  background: var(--color-gray);
  padding: 16px;
  font-size: 14px;
}
@media screen and (min-width: 900px) {
  .form-textarea {
    font-size: 16px;
  }
}
.form-textarea:focus {
  background: var(--color-sub-lblue);
  border-color: var(--color-main);
}
.form-textarea::-webkit-input-placeholder {
  color: var(--color-dgray);
}
.form-textarea::-moz-placeholder {
  color: var(--color-dgray);
}
.form-textarea:-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-textarea::-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-textarea::placeholder {
  color: var(--color-dgray);
}
.form-textarea.is-error {
  border-color: var(--color-red);
  background: #fff0f7;
}

.form-checkbox__input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox__input:checked + .form-checkbox__text:after {
  opacity: 1;
}
.form-checkbox__input:focus + .form-checkbox__text::before {
  border-color: var(--color-main);
}
.form-checkbox__input.is-error + .form-checkbox__text::before {
  border-color: var(--color-red);
  background: #fff0f7;
}

.form-checkbox__text {
  position: relative;
  padding-left: 36px;
}
.form-checkbox__text::before, .form-checkbox__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.form-checkbox__text::before {
  width: 24px;
  height: 24px;
  background: var(--color-gray);
  border-radius: 4px;
  border: 1px solid transparent;
}
.form-checkbox__text::after {
  left: 5px;
  top: 3px;
  width: 15px;
  height: 10px;
  border-left: 2px solid var(--color-main);
  border-bottom: 2px solid var(--color-main);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

/*!
component > post-list
記事一覧・カテゴリアーカイブの記事リスト
------------------------------
*/
@media screen and (min-width: 900px) {
  .main {
    width: 70%;
    margin-bottom: 175px;
  }
}

.home-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .home-title {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 27px;
  }
}

.post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 900px) {
  .post__list {
    gap: 40px;
  }
}

.post__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: clamp(0.75rem, 0.416rem + 1.48vw, 1.25rem);
}
@media screen and (min-width: 900px) {
  .post__list-item {
    gap: 20px;
  }
}

.post__list-img img {
  width: clamp(7.5rem, 2.491rem + 22.26vw, 15rem);
  aspect-ratio: 120/90;
}
@media screen and (min-width: 900px) {
  .post__list-img img {
    width: clamp(11.875rem, 2.993rem + 15.79vw, 15.625rem);
    aspect-ratio: 250/156;
  }
}

.post__list-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e61264;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .post__list-left {
    gap: 12px;
  }
}

.post__list-category {
  border: 1px solid #e61264;
  font-size: 12px;
  padding: 4px 12px;
}
@media screen and (min-width: 900px) {
  .post__list-category {
    font-size: 14px;
    padding: 8px 24px;
  }
}

.new-label {
  font-size: 14px;
}
@media screen and (min-width: 900px) {
  .new-label {
    font-size: 16px;
  }
}

.post__list-time {
  color: #888;
  font-size: 14px;
  font-weight: 500;
}

.post__list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 7px;
}
@media screen and (min-width: 900px) {
  .post__list-title {
    font-size: 16px;
    margin-top: 17px;
    line-height: 1.7;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  gap: 6px;
}
@media screen and (min-width: 900px) {
  .pagination {
    margin-top: 60px;
    gap: 8px;
  }
}

.page-numbers {
  width: 40px;
  height: 40px;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  background: #f8f8f8;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 900px) {
  .page-numbers {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 900px) {
  .page-numbers.prev {
    margin-right: 20px;
  }
}
@media screen and (min-width: 900px) {
  .page-numbers.next {
    margin-left: 20px;
  }
}
.page-numbers.current {
  color: #fff;
  background: #023e78;
}

/*!
layout > header
------------------------------
*/
.header {
  background: var(--color-white);
  padding: 14px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  line-height: 1.14;
}
@media screen and (min-width: 900px) {
  .header {
    padding: 17px 16px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #023e78;
  font-family: var(--font-family-logo);
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.14px;
  text-transform: capitalize;
}
@media screen and (min-width: 900px) {
  .header__logo {
    font-size: clamp(1.75rem, -0.026rem + 3.16vw, 2.5rem);
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__list li {
  color: #1a1a1a;
  text-align: center;
  font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem);
  font-weight: 500;
}
.header__list li + li::before {
  content: "／";
  display: inline-block;
  width: 14px;
  margin: 0 clamp(0.375rem, -1.105rem + 2.63vw, 1rem);
}

.header__nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: clamp(1rem, -1.368rem + 4.21vw, 2rem);
  gap: clamp(0.375rem, -0.217rem + 1.05vw, 0.625rem);
}

/*!
layout > header > drawer-icon
------------------------------
*/
.drawer-icon {
  width: 27px;
  height: 18px;
  position: relative;
  z-index: 51;
}
@media screen and (min-width: 900px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.drawer-icon.is-checked .drawer-icon__bar-dot {
  display: none;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 2.25px;
  background: #023e78;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 6.75px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 13.5px;
}

.drawer__panel {
  position: fixed;
  top: 60px;
  z-index: 50;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background: #023e78;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer__panel.is-checked {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.drawer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
}
.drawer__nav-list li {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
}

.drawer__nav-button {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

/*!
layout > lower-fv
下層ページのヘッダー
------------------------------
*/
.lower-fv {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.lower-fv::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.lower-fv--news {
  background-image: url(../../assets/img/lower-fv-news_sp.png);
}
@media screen and (min-width: 900px) {
  .lower-fv--news {
    background-image: url(../../assets/img/lower-fv-news_pc.png);
  }
}

.lower-fv--case {
  background-image: url(../../assets/img/lower-fv-case_sp.png);
}
@media screen and (min-width: 900px) {
  .lower-fv--case {
    background-image: url(../../assets/img/lower-fv-case_pc.png);
  }
}

.lower-fv--about {
  background-image: url(../../assets/img/lower-fv-about_sp.png);
}
@media screen and (min-width: 900px) {
  .lower-fv--about {
    background-image: url(../../assets/img/lower-fv-about_pc.png);
  }
}

.lower-fv__inner {
  position: relative;
  z-index: 1;
}
.lower-fv__inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  background: url(../../assets/img/lower-fv-decoration_sp.png) no-repeat left center/contain;
}
@media screen and (min-width: 900px) {
  .lower-fv__inner::before {
    background: url(../../assets/img/lower-fv-decoration_pc.png) no-repeat left center/contain;
  }
}

.lower-fv__title {
  position: absolute;
  z-index: 10;
  left: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 900px) {
  .lower-fv__title {
    left: 222px;
  }
}
.lower-fv__title span {
  color: #023e78;
  background: var(--color-white);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--color-white);
  line-height: 1.2;
  padding: 1px 3px;
}
.lower-fv__title span + span {
  margin-top: 8px;
}

.lower-fv__en {
  font-family: var(--font-family-en);
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 900px) {
  .lower-fv__en {
    font-size: 60px;
  }
}

.lower-fv__ja {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .lower-fv__ja {
    font-size: 20px;
  }
}

.bread-crumb {
  margin-top: 12px;
  margin-left: 20px;
  color: #888;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 900px) {
  .bread-crumb {
    margin-top: 15px;
    margin-left: 0;
  }
}
.bread-crumb .current-item {
  color: #1a1a1a;
}

/*!
layout > footer
------------------------------
*/
.footer {
  position: relative;
  z-index: 1;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 900px) {
  .footer__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__download,
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px;
  padding-bottom: 25px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 900px) {
  .footer__download,
  .footer__contact {
    width: 50%;
    padding-top: 55px;
    padding-bottom: 49px;
  }
}

.footer__download {
  background-image: url(../../assets/img/footer-bg-download-sp.png);
}
@media screen and (min-width: 900px) {
  .footer__download {
    background-image: url(../../assets/img/footer-bg-download-pc.png);
  }
}

.footer__contact {
  background-image: url(../../assets/img/footer-bg-contact-sp.png);
}
@media screen and (min-width: 900px) {
  .footer__contact {
    background-image: url(../../assets/img/footer-bg-contact-pc.png);
  }
}

.footer__title {
  color: #fff;
  line-height: 1.2;
}
.footer__title span {
  display: block;
}

.footer__title-en {
  font-family: var(--font-family-en);
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media screen and (min-width: 900px) {
  .footer__title-en {
    font-size: 60px;
    margin-bottom: 3px;
  }
}

.footer__title-ja {
  font-size: 16px;
  font-weight: 700;
}

.footer__button {
  margin-top: 40px;
}

.footer__bottom {
  padding-top: 70px;
  background: #1a1a1a;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .footer__bottom {
    padding-top: 120px;
  }
}

.footer__logo {
  text-align: center;
  font-family: var(--font-family-logo);
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .footer__logo {
    font-size: 52px;
  }
}

.footer__info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 22px;
}

.footer__info-item {
  font-size: 14px;
  font-weight: 500;
}

.footer__copy {
  padding-top: 38px;
  padding-bottom: 13px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .footer__copy {
    padding-top: 76px;
    padding-bottom: 17px;
    font-size: 14px;
  }
}

.floating {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
}
@media screen and (min-width: 900px) {
  .floating {
    bottom: 40px;
    right: 20px;
  }
}
.floating img {
  width: 40px;
  height: 40px;
}

/*!
layout > container
------------------------------
*/
.section {
  margin-top: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .section {
    padding-inline: 0;
  }
}

.container {
  margin-top: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .container {
    margin-top: 80px;
  }
}

.inner {
  margin-inline: auto;
  padding-inline: clamp(1.25rem, 0.415rem + 3.71vw, 2.5rem);
}
@media screen and (min-width: 900px) {
  .inner {
    width: 85.9375%;
    margin-inline: auto;
    max-width: 1350px;
    padding-inline: 0;
  }
}

@media screen and (min-width: 900px) {
  .inner-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: clamp(1.25rem, -1.711rem + 5.26vw, 2.5rem);
  }
}

/*!
layout > sidebar
------------------------------
*/
.side-bar {
  margin-bottom: 100px;
}
@media screen and (min-width: 900px) {
  .side-bar {
    width: 30%;
    margin-bottom: 0;
  }
}
.side-bar .post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 900px) {
  .side-bar .post__list {
    gap: 16px;
  }
}
.side-bar .post__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: clamp(0.75rem, 0.416rem + 1.48vw, 1.25rem);
}
@media screen and (min-width: 900px) {
  .side-bar .post__list-item {
    gap: 10px;
  }
}
.side-bar .post__list-img img {
  width: clamp(7.5rem, 2.491rem + 22.26vw, 15rem);
  aspect-ratio: 120/90;
}
@media screen and (min-width: 900px) {
  .side-bar .post__list-img img {
    width: clamp(5rem, 2.039rem + 5.26vw, 6.25rem);
    aspect-ratio: 100/100;
  }
}
.side-bar .post__list-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 900px) {
  .side-bar .post__list-meta {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.side-bar .post__list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e61264;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .side-bar .post__list-left {
    gap: 4px;
  }
}
.side-bar .post__list-category {
  border: 1px solid #e61264;
  font-size: 12px;
  padding: 4px 12px;
}
.side-bar .post__list-category.side-post__category {
  padding-top: clamp(0.125rem, -0.171rem + 0.53vw, 0.25rem);
  padding-bottom: clamp(0.125rem, -0.171rem + 0.53vw, 0.25rem);
  padding-inline: clamp(0.5rem, -0.092rem + 1.05vw, 0.75rem);
}
.side-bar .new-label {
  font-size: 14px;
}
.side-bar .post__list-time {
  color: #888;
  font-size: 14px;
  font-weight: 500;
}
.side-bar .post__list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 7px;
  line-height: 1.4;
}
@media screen and (min-width: 900px) {
  .side-bar .post__list-title {
    margin-top: 4px;
  }
}

.side-post {
  margin-top: 100px;
}
@media screen and (min-width: 900px) {
  .side-post {
    margin-top: 0;
  }
}

.side-post__title {
  font-size: 20px;
  font-weight: 700;
}

.side-post__list {
  margin-top: 20px;
}
@media screen and (min-width: 900px) {
  .side-post__list {
    margin-top: 16px;
  }
}

.side-category {
  margin-top: 60px;
}
@media screen and (min-width: 900px) {
  .side-category {
    margin-top: 80px;
  }
}

.side-category__title {
  font-size: 20px;
  font-weight: 700;
}

.side-category__list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-category__item {
  border-top: 1px solid #ddd;
  padding-top: 16px;
  padding-bottom: 16px;
}
.side-category__item:last-child {
  border-bottom: 1px solid #ddd;
}

.side-category__link {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}
.side-category__link::before {
  content: url(../../assets/img/category-list-arrow.svg);
  margin-left: 14px;
  position: absolute;
  top: 1px;
  left: 0;
}

/*!
fv
------------------------------
*/
.fv__inner {
  position: relative;
}

.fv__swiper {
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .fv__swiper {
    margin-left: 90px;
  }
}

.fv__text {
  position: absolute;
  bottom: 20px;
  left: 19px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .fv__text {
    bottom: 60px;
    left: 50px;
  }
}

.fv__title {
  color: #023e78;
  font-family: var(--font-family-en);
  font-size: clamp(2.5rem, 1.394rem + 4.91vw, 3.75rem);
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .fv__title {
    font-size: 60px;
  }
}
.fv__title span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  line-height: 1.2;
  padding: 2px 4px;
}
.fv__title span + span {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .fv__title span + span {
    margin-top: 16px;
  }
}

.fv__desc {
  color: #fff;
  font-family: var(--font-family-ja);
  font-size: clamp(1rem, 0.779rem + 0.98vw, 1.25rem);
  font-weight: 700;
  background: #023e78;
  line-height: 1.2;
  padding: 2px 4px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .fv__desc {
    font-size: 20px;
  }
}

/*!
about
------------------------------
*/
.about {
  position: relative;
  background: url(../../assets/img/about-bg-lb.png) no-repeat center center/cover;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: clamp(6.25rem, 1.563rem + 9.77vw, 9.375rem);
  }
}

.about__inner {
  padding-bottom: 350px;
}

@media screen and (min-width: 768px) {
  .about__heading {
    padding-top: 104px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
}

.about__text {
  margin-top: 58px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 34.4545454545%;
    margin-top: clamp(3.5rem, -0.344rem + 8.01vw, 6.063rem);
  }
}

.about__desc + .about__desc {
  margin-top: 24px;
}

.about__img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__img-wrapper {
    margin-top: 0;
  }
}

.about__img {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  text-align: center;
}
.about__img img {
  width: 100%;
  aspect-ratio: 335/210;
}
@media screen and (min-width: 768px) {
  .about__img img {
    aspect-ratio: 681/426;
    max-width: 681px;
  }
}

.about__link {
  position: absolute;
  z-index: 2;
  right: 20px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .about__link {
    top: -78px;
    right: 0;
  }
}

.more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-link__text {
  color: #fff;
  font-family: var(--font-family-en);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
}
@media screen and (min-width: 768px) {
  .more-link__text {
    font-size: clamp(1.75rem, 1.375rem + 0.78vw, 2rem);
  }
}
.more-link__text::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  right: -77px;
  width: 64px;
  height: 10px;
  border: none;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .more-link__text::after {
    width: 95px;
    height: 10px;
    right: -114px;
  }
}
.more-link__text:hover::after {
  right: -108px;
  width: 94px;
}
@media screen and (min-width: 768px) {
  .more-link__text:hover::after {
    right: -146px;
    width: 125px;
  }
}

.more-link__circle {
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff400;
  width: 40px;
  height: 40px;
  margin-left: 57px;
}
@media screen and (min-width: 768px) {
  .more-link__circle {
    border: 3px solid #fff400;
    width: 51px;
    height: 51px;
    margin-left: 89px;
  }
}

.about__img-bg {
  position: absolute;
  background: url(../../assets/img/about-bg-sp.png) no-repeat center center/cover;
  bottom: 0;
  top: 0;
  right: -20px;
  width: clamp(18.438rem, -0.635rem + 84.77vw, 40rem);
  height: clamp(22.625rem, 9.468rem + 58.48vw, 37.5rem);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .about__img-bg {
    top: 0;
    right: 0;
    width: clamp(21.125rem, 5.987rem + 31.58vw, 31.25rem);
    height: clamp(42.5rem, 31.287rem + 23.39vw, 50rem);
  }
}

/*!
single
------------------------------
*/
@media screen and (min-width: 900px) {
  .single-main {
    width: 70%;
    margin-bottom: 175px;
  }
}

.single-post__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-post__category {
  border: 1px solid #e61264;
  color: #e61264;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
}
@media screen and (min-width: 900px) {
  .single-post__category {
    font-size: 14px;
    padding: 8px 24px;
  }
}

.single-post__time {
  color: #888;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

.single-post__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}
@media screen and (min-width: 900px) {
  .single-post__title {
    font-size: 24px;
    line-height: 1.3;
    margin-top: 22px;
  }
}

.single-post__img {
  margin-top: 24px;
}
@media screen and (min-width: 900px) {
  .single-post__img {
    margin-top: 41px;
  }
}
.single-post__img img {
  aspect-ratio: 335/209;
}
@media screen and (min-width: 900px) {
  .single-post__img img {
    aspect-ratio: 760/475;
  }
}

.single-post__content p {
  font-size: 14px;
  font-weight: 500;
}

.single-more-link {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 900px) {
  .single-more-link {
    margin-top: 30px;
  }
}

.single-more-link-prev,
.single-more-link-next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 4px;
  border: 1px solid #023e78;
  color: #023e78;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
}

.single-more-link-prev {
  margin-right: auto;
}

.single-more-link-next {
  margin-left: auto;
}

/*!
single > wp-block
------------------------------
*/
h2.wp-block-heading {
  margin-top: 40px;
  color: #023e78;
  font-size: 20px;
  font-weight: 700;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}
h2.wp-block-heading::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 46px;
  background: #023e78;
  margin-right: 20px;
}

h3.wp-block-heading {
  margin-top: 32px;
  color: #023e78;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
@media screen and (min-width: 900px) {
  h3.wp-block-heading {
    margin-top: 38px;
  }
}
h3.wp-block-heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #023e78;
  margin-top: 5px;
}
@media screen and (min-width: 900px) {
  h3.wp-block-heading::after {
    margin-top: 6px;
  }
}

h4.wp-block-heading {
  margin-top: 32px;
  color: #023e78;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
}
@media screen and (min-width: 900px) {
  h4.wp-block-heading {
    margin-top: 39px;
    margin-bottom: 14px;
  }
}

ul.wp-block-list {
  margin-top: 32px;
}
@media screen and (min-width: 900px) {
  ul.wp-block-list {
    margin-top: 38px;
  }
}
ul.wp-block-list li {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
}
ul.wp-block-list li + li {
  margin-top: 20px;
}
@media screen and (min-width: 900px) {
  ul.wp-block-list li + li {
    margin-top: 16px;
  }
}
ul.wp-block-list li::before {
  content: "・";
  display: inline-block;
  margin-right: 4px;
}

blockquote.wp-block-quote {
  margin-top: 32px;
  background: #f8f8f8;
  padding: 30px 32px 23px;
  position: relative;
  z-index: 0;
  border-left: 4px solid #023e78;
}
@media screen and (min-width: 900px) {
  blockquote.wp-block-quote {
    margin-top: 40px;
    padding: 33px 35px;
  }
}
blockquote.wp-block-quote::before {
  content: "";
  width: 78px;
  background: url(../../assets/img/quote-icon.png) no-repeat center center;
  position: absolute;
  height: 100%;
  top: -90px;
  left: 5px;
  z-index: -1;
}
@media screen and (min-width: 900px) {
  blockquote.wp-block-quote::before {
    top: -46px;
    left: 12px;
  }
}

/*!
page > about > mission
------------------------------
*/
.mission {
  margin-bottom: 278px;
}
@media screen and (min-width: 768px) {
  .mission {
    margin-bottom: 296px;
  }
}

.mission__item + .mission__item {
  margin-top: 254px;
}
@media screen and (min-width: 768px) {
  .mission__item + .mission__item {
    margin-top: 260px;
  }
}

.mission__inner {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission__title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 281px;
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .mission__title {
    height: 353px;
  }
}
.mission__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .mission__title {
    margin: 0;
    width: 100%;
    height: 353px;
  }
}
.mission__title.company_msg_1 {
  background-image: url(../../assets/img/about-company01_sp.png);
}
@media screen and (min-width: 768px) {
  .mission__title.company_msg_1 {
    background-image: url(../../assets/img/about-company01_pc.png);
  }
}
.mission__title.company_msg_2 {
  background-image: url(../../assets/img/about-company02_sp.png);
}
@media screen and (min-width: 768px) {
  .mission__title.company_msg_2 {
    background-image: url(../../assets/img/about-company02_pc.png);
  }
}

.mission__title-en,
.mission__title-jp {
  color: #fff;
  line-height: 1.2;
}

.mission__title-en {
  font-family: var(--font-family-en);
  font-size: 52px;
  font-style: italic;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .mission__title-en {
    font-size: 100px;
  }
}

.mission__title-jp {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .mission__title-jp {
    font-size: 24px;
  }
}

.mission__text {
  background: #fff;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  padding: 20px 20px 18px 20px;
  position: absolute;
  z-index: 1;
  top: 241px;
}
@media screen and (min-width: 768px) {
  .mission__text {
    width: clamp(38.563rem, 31.906rem + 13.87vw, 43rem);
    padding: 32px 40px 30px 40px;
    top: 293px;
    margin: 0 auto;
  }
}

.mission__head {
  color: #023e78;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .mission__head {
    font-size: 24px;
  }
}

.mission__body {
  font-size: 14px;
  font-weight: 500;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .mission__body {
    font-size: 14px;
    margin-top: 31px;
  }
}

.company {
  background: url(../../assets/img/about-company-bg_sp.png) no-repeat center/cover;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  padding: 60px 20px;
}
@media screen and (min-width: 768px) {
  .company {
    background-image: url(../../assets/img/about-company-bg_pc.png);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-inline: 0;
  }
}

.company__inner {
  border: 1px solid #707070;
  background: #fff;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .company__inner {
    width: clamp(43.125rem, 35.813rem + 15.23vw, 48rem);
    margin: 0 auto;
    padding: 60px 40px 80px 40px;
  }
}

.company__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.company__content {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .company__content {
    margin-top: 60px;
  }
}

.company__table td, .company__table th {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .company__table td, .company__table th {
    padding-top: 25px;
    padding-bottom: 24px;
    font-size: 16px;
  }
}
.company__table th {
  border-bottom: 1px solid #023e78;
  border-top: 1px solid #023e78;
  width: 29.8507462687%;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .company__table th {
    padding-left: 32px;
  }
}
.company__table td {
  border-bottom: 1px solid #e8eaec;
  border-top: 1px solid #e8eaec;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .company__table td {
    padding-left: 36px;
  }
}

.members {
  padding-top: 60px;
  position: relative;
  z-index: 1;
  margin-bottom: 160px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .members {
    padding-top: 120px;
    margin-bottom: 187px;
  }
}

.members__bg {
  background: url(../../assets/img/about-member-bg.png) no-repeat center/cover;
  height: 80%;
  position: absolute;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  bottom: -300px;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .members__bg {
    height: 100%;
    bottom: -326px;
  }
}

.members__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.members__content {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .members__content {
    margin-top: 60px;
  }
}

.members__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
    max-width: 688px;
    margin-inline: auto;
  }
}

.member__img {
  text-align: center;
}
.member__img img {
  width: 240px;
  aspect-ratio: 240/320;
}

.member__text {
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .member__text {
    margin-top: 0;
  }
}

.member__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 700;
}

.member__position {
  font-size: 14px;
}

.member__name {
  font-size: 20px;
}

.member__history {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .member__history {
    margin-top: 30px;
  }
}

.member__sns {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .member__sns {
    margin-top: 30px;
  }
}
.member__sns i {
  font-size: 28px;
}

/*!
page > case-study
------------------------------
*/
.case__tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 900px) {
  .case__tabs-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
  }
}

.case__tab {
  width: 294px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  background: #eee;
  display: grid;
  place-content: center;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .case__tab {
    width: 208px;
  }
}

.case__tab-link {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.case__container {
  margin-bottom: 100px;
}
@media screen and (min-width: 900px) {
  .case__container {
    margin-bottom: 175px;
  }
}

.case__section {
  margin-top: 62px;
}
@media screen and (min-width: 900px) {
  .case__section {
    margin-top: 80px;
  }
}

.case__subtitle {
  position: relative;
}
@media screen and (min-width: 900px) {
  .case__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
.case__subtitle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background: #023e78;
}

.case__subtitle-ja,
.case__subtitle-en {
  display: block;
}

.case__subtitle-ja {
  font-size: 24px;
  font-weight: 700;
  margin-left: 18px;
  line-height: 1.4;
}
@media screen and (min-width: 900px) {
  .case__subtitle-ja {
    font-size: 28px;
  }
}

.case__subtitle-en {
  color: #023e78;
  font-family: var(--font-family-en);
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  margin-left: 21px;
}
@media screen and (min-width: 900px) {
  .case__subtitle-en {
    font-size: 16px;
    margin-left: 0;
    line-height: 1.4;
  }
}

.case__items {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 54px;
}
@media screen and (min-width: 900px) {
  .case__items {
    margin-top: 67px;
    grid-template-columns: repeat(2, 1fr);
    gap: 66px clamp(2.5rem, -3.421rem + 10.53vw, 5rem);
  }
}

.case-item {
  border-radius: 12px;
  background: var(--color-white);
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
}

.case-item__head {
  background: #023e78;
  border-radius: 12px 12px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 20px;
  height: 100px;
  overflow: visible;
}
@media screen and (min-width: 900px) {
  .case-item__head {
    padding: 0 20px 0 clamp(1.25rem, -1.711rem + 5.26vw, 2.5rem);
  }
}

.case-item__title {
  color: #fff;
  line-height: 1.5;
}
@media screen and (min-width: 900px) {
  .case-item__title {
    line-height: 1.7;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.case-item__industry {
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .case-item__industry {
    font-size: 14px;
  }
}

.case-item__name {
  font-size: 16px;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .case-item__name {
    font-size: 24px;
    gap: clamp(0.375rem, -1.105rem + 2.63vw, 1rem);
    margin-top: clamp(0rem, -1.184rem + 2.11vw, 0.5rem);
  }
}

.case-item__img {
  width: 90px;
  height: 68px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .case-item__img {
    width: clamp(8.125rem, 3.684rem + 7.89vw, 10rem);
    height: clamp(6.5rem, 5.316rem + 2.11vw, 7rem);
  }
}
.case-item__img img {
  width: 66%;
}
@media screen and (min-width: 900px) {
  .case-item__img img {
    width: 60%;
  }
}

.case-item__body {
  padding-inline: 20px;
  margin-top: 20px;
  margin-bottom: 18px;
}
@media screen and (min-width: 900px) {
  .case-item__body {
    padding-inline: clamp(1.25rem, -1.711rem + 5.26vw, 2.5rem);
    margin-top: clamp(2rem, 0.668rem + 2.37vw, 2.563rem);
    margin-bottom: 38px;
  }
}

.case-item__body-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  white-space: nowrap;
}
@media screen and (min-width: 900px) {
  .case-item__body-title {
    gap: 9px;
  }
}
.case-item__body-title:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ddd;
  display: block;
  position: absolute;
  bottom: -9px;
}

.case-item__text {
  margin-top: 31px;
}
@media screen and (min-width: 900px) {
  .case-item__text {
    margin-top: 41px;
  }
}

.case-item__body-head {
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.5px;
}
@media screen and (min-width: 900px) {
  .case-item__body-head {
    font-size: 18px;
    gap: 10px;
  }
}
.case-item__body-head:not(:first-child) {
  margin-top: 30px;
}
.case-item__body-head svg {
  fill: #e61264;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 900px) {
  .case-item__body-head svg {
    width: 20px;
    height: 20px;
  }
}

.case-item__content {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .case-item__content {
    margin-top: 7px;
  }
}

.case__button {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .case__button {
    margin-top: 60px;
  }
}/*# sourceMappingURL=style.css.map */