@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@1,700&display=swap");
:root {
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-en: "Fira Sans", sans-serif;
  --font-family-logo: "Roboto", sans-serif;
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-main: #163f74;
  --color-main-dark: #002a52;
  --color-main-light: #eef3f8;
  --color-accent-yellow: #fef251;
  --color-accent-red: #d33365;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
html {
  scroll-behavior: smooth;
}
html:has(dialog[open]) {
  overflow: hidden;
}

body {
  font-family: var(--font-family-jp);
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: 500;
}
body.isScrollAllowed {
  overflow: hidden;
}

/*!
component > button
------------------------------
*/
.button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.button--lg {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 295px;
  font-size: 16px;
}

.button--sm {
  padding-top: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem);
  padding-bottom: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem);
  font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem);
  width: clamp(7.813rem, 0.263rem + 13.42vw, 11rem);
}

.button--primary {
  background: #023e78;
  color: #fff;
  border: 1px solid currentColor;
}

.button--secondary {
  background: #fff;
  color: #023e78;
  border: 1px solid currentColor;
}

.button--more {
  font-family: var(--font-family-en);
  background: transparent;
  color: #fff400;
  border: 2px solid #fff400;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 295px;
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 900px) {
  .button--more {
    border: 3px solid #fff400;
    padding-top: 31px;
    padding-bottom: 32px;
    width: 315px;
    font-size: 24px;
  }
}
.button--more:hover {
  background: #fff400;
  color: #1a1a1a;
}
.button--more:after {
  content: url(../../assets/img/icon-arrow.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 900px) {
  .button--more:after {
    right: 29px;
  }
}

/*!
component > heading
------------------------------
*/
.heading {
  color: #023E78;
  line-height: 1.2;
}

.heading__en {
  font-family: var(--font-family-en);
  font-size: 52px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}

.heading__ja {
  font-family: var(--font-family-ja);
  font-size: 16px;
  font-weight: 700;
  margin-top: 3px;
}

/*!
component > form-field
------------------------------
*/
input,
textarea,
select {
  outline: none;
  border: 1px solid transparent;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 900px) {
  .form-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}

.form-field-message {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3px;
}

.form-field__head {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 900px) {
  .form-field__head {
    min-width: 180px;
  }
}

.form-field__label {
  font-size: 14px;
}
.form-field__label.is-error {
  color: var(--color-red);
}
@media screen and (min-width: 900px) {
  .form-field__label {
    font-size: 16px;
  }
}

.form-field__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 4px;
  font-size: 14px;
  padding: 2px 6px;
}
@media screen and (min-width: 900px) {
  .form-field__tag {
    font-size: 12px;
    padding: 3px 8px;
  }
}

.form-field__item {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .form-field__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.form-text {
  border-radius: 8px;
  background: var(--color-gray);
  padding: 16px;
  font-size: 14px;
  width: 100%;
}
.form-text::-webkit-input-placeholder {
  color: var(--color-dgray);
}
.form-text::-moz-placeholder {
  color: var(--color-dgray);
}
.form-text:-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-text::-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-text::placeholder {
  color: var(--color-dgray);
}
.form-text:focus {
  background: var(--color-sub-lblue);
  border-color: var(--color-main);
}
.form-text.is-error {
  border-color: var(--color-red);
  background: #fff0f7;
}
@media screen and (min-width: 900px) {
  .form-text {
    font-size: 16px;
  }
}

.form-select {
  position: relative;
  width: 100%;
  height: 56px;
  padding: 14.5px 15px;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-image: url(../images/icon-select-arrow.svg), linear-gradient(to left, #9ed0e0 52px, #f5f5f5 52px);
  background-repeat: no-repeat, no-repeat;
  background-position: center right 11px, center center;
  border: 1px solid transparent;
  border-radius: 8px;
}
.form-select:focus {
  border-color: var(--color-main);
}
.form-select.is-error {
  background-image: url(../images/icon-select-arrow.svg), linear-gradient(to left, #ce2073 52px, #fff0f7 52px);
  border-color: #ce2073;
}
@media screen and (min-width: 900px) {
  .form-select {
    font-size: 16px;
  }
}

.form-field__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 900px) {
  .form-radio {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.form-radio__input:checked + .form-radio__text {
  font-weight: 700;
}
.form-radio__input:checked + .form-radio__text:after {
  opacity: 1;
}
.form-radio__input:focus + .form-radio__text::before {
  border-color: var(--color-main);
}

.form-radio__text {
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .form-radio__text {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.form-radio__text::before, .form-radio__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-radio__text:before {
  width: 24px;
  height: 24px;
  background-color: var(--color-gray);
  left: 0;
  border: 1px solid transparent;
}
.form-radio__text:after {
  width: 12px;
  height: 12px;
  background: var(--color-main);
  left: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-textarea {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  background: var(--color-gray);
  padding: 16px;
  font-size: 14px;
}
@media screen and (min-width: 900px) {
  .form-textarea {
    font-size: 16px;
  }
}
.form-textarea:focus {
  background: var(--color-sub-lblue);
  border-color: var(--color-main);
}
.form-textarea::-webkit-input-placeholder {
  color: var(--color-dgray);
}
.form-textarea::-moz-placeholder {
  color: var(--color-dgray);
}
.form-textarea:-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-textarea::-ms-input-placeholder {
  color: var(--color-dgray);
}
.form-textarea::placeholder {
  color: var(--color-dgray);
}
.form-textarea.is-error {
  border-color: var(--color-red);
  background: #fff0f7;
}

.form-checkbox__input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox__input:checked + .form-checkbox__text:after {
  opacity: 1;
}
.form-checkbox__input:focus + .form-checkbox__text::before {
  border-color: var(--color-main);
}
.form-checkbox__input.is-error + .form-checkbox__text::before {
  border-color: var(--color-red);
  background: #fff0f7;
}

.form-checkbox__text {
  position: relative;
  padding-left: 36px;
}
.form-checkbox__text::before, .form-checkbox__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.form-checkbox__text::before {
  width: 24px;
  height: 24px;
  background: var(--color-gray);
  border-radius: 4px;
  border: 1px solid transparent;
}
.form-checkbox__text::after {
  left: 5px;
  top: 3px;
  width: 15px;
  height: 10px;
  border-left: 2px solid var(--color-main);
  border-bottom: 2px solid var(--color-main);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

/*!
layout > header
------------------------------
*/
.header {
  background: var(--color-white);
  padding: 14px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  line-height: 1.14;
}
@media screen and (min-width: 900px) {
  .header {
    padding: 17px 16px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #023e78;
  font-family: var(--font-family-logo);
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.14px;
  text-transform: capitalize;
}
@media screen and (min-width: 900px) {
  .header__logo {
    font-size: clamp(1.75rem, -0.026rem + 3.16vw, 2.5rem);
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__list li {
  color: #1a1a1a;
  text-align: center;
  font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem);
  font-weight: 500;
}
.header__list li + li::before {
  content: "／";
  display: inline-block;
  width: 14px;
  margin: 0 clamp(0.375rem, -1.105rem + 2.63vw, 1rem);
}

.header__nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: clamp(1rem, -1.368rem + 4.21vw, 2rem);
  gap: clamp(0.375rem, -0.217rem + 1.05vw, 0.625rem);
}

/*!
layout > header > drawer-icon
------------------------------
*/
.drawer-icon {
  width: 27px;
  height: 18px;
  position: relative;
  z-index: 51;
}
@media screen and (min-width: 900px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.drawer-icon.is-checked .drawer-icon__bar-dot {
  display: none;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 2.25px;
  background: #023e78;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 6.75px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 13.5px;
}

.drawer__panel {
  position: fixed;
  top: 60px;
  z-index: 50;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background: #023e78;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer__panel.is-checked {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.drawer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
}
.drawer__nav-list li {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
}

.drawer__nav-button {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

/*!
layout > footer
------------------------------
*/
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 900px) {
  .footer__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__download,
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px;
  padding-bottom: 25px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 900px) {
  .footer__download,
  .footer__contact {
    width: 50%;
    padding-top: 55px;
    padding-bottom: 49px;
  }
}

.footer__download {
  background-image: url(../../assets/img/footer-bg-download-sp.png);
}
@media screen and (min-width: 900px) {
  .footer__download {
    background-image: url(../../assets/img/footer-bg-download-pc.png);
  }
}

.footer__contact {
  background-image: url(../../assets/img/footer-bg-contact-sp.png);
}
@media screen and (min-width: 900px) {
  .footer__contact {
    background-image: url(../../assets/img/footer-bg-contact-pc.png);
  }
}

.footer__title {
  color: #fff;
  line-height: 1.2;
}
.footer__title span {
  display: block;
}

.footer__title-en {
  font-family: var(--font-family-en);
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media screen and (min-width: 900px) {
  .footer__title-en {
    font-size: 60px;
    margin-bottom: 3px;
  }
}

.footer__title-ja {
  font-size: 16px;
  font-weight: 700;
}

.footer__button {
  margin-top: 40px;
}

.footer__bottom {
  padding-top: 70px;
  background: #1a1a1a;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .footer__bottom {
    padding-top: 120px;
  }
}

.footer__logo {
  text-align: center;
  font-family: var(--font-family-logo);
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .footer__logo {
    font-size: 52px;
  }
}

.footer__info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 22px;
}

.footer__info-item {
  font-size: 14px;
  font-weight: 500;
}

.footer__copy {
  padding-top: 38px;
  padding-bottom: 13px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .footer__copy {
    padding-top: 76px;
    padding-bottom: 17px;
    font-size: 14px;
  }
}

.floating {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
}
@media screen and (min-width: 900px) {
  .floating {
    bottom: 40px;
    right: 20px;
  }
}
.floating img {
  width: 40px;
  height: 40px;
}

/*!
layout > container
------------------------------
*/
.section {
  margin-top: 60px;
  margin-inline: auto;
  padding-inline: 20px;
}

/*!
fv
------------------------------
*/
.fv__inner {
  position: relative;
}

.fv__swiper {
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .fv__swiper {
    margin-left: 90px;
  }
}

.fv__text {
  position: absolute;
  bottom: 20px;
  left: 19px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .fv__text {
    bottom: 60px;
    left: 50px;
  }
}

.fv__title {
  color: #023E78;
  font-family: var(--font-family-en);
  font-size: clamp(2.5rem, 1.394rem + 4.91vw, 3.75rem);
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .fv__title {
    font-size: 60px;
  }
}
.fv__title span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #FFF;
  line-height: 1.2;
  padding: 2px 4px;
}
.fv__title span + span {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .fv__title span + span {
    margin-top: 16px;
  }
}

.fv__desc {
  color: #FFF;
  font-family: var(--font-family-ja);
  font-size: clamp(1rem, 0.779rem + 0.98vw, 1.25rem);
  font-weight: 700;
  background: #023E78;
  line-height: 1.2;
  padding: 2px 4px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .fv__desc {
    font-size: 20px;
  }
}

/*!
about
------------------------------
*/
.about {
  position: relative;
  background: url(../../assets/img/about-bg-lb.png) no-repeat center center/cover;
}

.about__inner {
  padding-bottom: 350px;
}

.about__content {
  margin-top: 58px;
}

.about__text {
  font-size: 14px;
  font-weight: 500;
}

.about__desc + .about__desc {
  margin-top: 24px;
}

.about__img-wrapper {
  margin-top: 30px;
  position: relative;
}

.about__img {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  text-align: center;
}
.about__img img {
  width: 100%;
  aspect-ratio: 335/210;
}

.about__link {
  position: absolute;
  z-index: 2;
  right: 20px;
  margin-top: 32px;
}

.more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-link__text {
  color: #FFF;
  font-family: var(--font-family-en);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
}
.more-link__text::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  right: -77px;
  width: 64px;
  height: 10px;
  border: none;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.more-link__text:hover::after {
  right: -108px;
  width: 94px;
}

.more-link__circle {
  background: transparent;
  border-radius: 50%;
  border: 2px solid #FFF400;
  width: 40px;
  height: 40px;
  margin-left: 57px;
}

.about__img-bg {
  position: absolute;
  background: url(../../assets/img/about-bg-sp.png) no-repeat center center/cover;
  bottom: 0;
  top: 0;
  right: -20px;
  width: clamp(18.438rem, -0.635rem + 84.77vw, 40rem);
  height: clamp(22.625rem, 9.468rem + 58.48vw, 37.5rem);
  z-index: 1;
}/*# sourceMappingURL=style.css.map */