@use "../global" as *;

/*!
component > button
------------------------------
*/
.button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.button--lg {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 295px;
  font-size: 16px;
}

.button--sm {
  padding-top: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem); // 20px ~ 24px
  padding-bottom: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem); // 20px ~ 24px
  font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem); // 13px ~ 14px
  width: clamp(7.813rem, 0.263rem + 13.42vw, 11rem); // 125px ~ 176px
}

.button--primary {
  background: var(--color-main);
  color: var(--color-white);
  border: 1px solid currentColor;
}

.button--secondary {
  background: var(--color-white);
  color: var(--color-main);
  border: 1px solid currentColor;
}

// footerのボタン
.button--more {
  font-family: var(--font-family-en);
  background: transparent;
  color: var(--color-accent-yellow);
  border: 2px solid var(--color-accent-yellow);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 295px;
  font-size: 16px;
  position: relative;
  transition: all 0.3s;

  @include mq(lg) {
    border: 3px solid var(--color-accent-yellow);
    padding-top: 31px;
    padding-bottom: 32px;
    width: 315px;
    font-size: 24px;
  }

  &:hover {
    background: var(--color-accent-yellow);
    color: var(--color-black);
  }

  &:after {
    content: url(../../assets/img/icon-arrow--yellow.svg);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include mq(lg) {
      right: 29px;
    }
  }
}

// 導入事例ページのボタン
.button--arrow {
  font-size: 14px;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  width: 295px;
  position: relative;

  @include mq(lg) {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 25px;
    width: 336px;
  }

  &:after {
    content: url(../../assets/img/icon-arrow--blue.svg);
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    @include mq(lg) {
      right: 26px;
    }
  }
}

// トップーページのmoreボタン
.more-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more-link__text {
  font-family: var(--font-family-en);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
  color: var(--color-white);

  &.more-link__text--blue {
    color: var(--color-main);

    &::after {
      border-right-color: var(--color-main);
      border-bottom-color: var(--color-main);
    }
  }

  &.more-link__text--black {
    color: var(--color-black);

    &::after {
      border-right-color: var(--color-black);
      border-bottom-color: var(--color-black);
    }
  }

  @include mq(md) {
    font-size: clamp(1.75rem, 1.375rem + 0.78vw, 2rem); // 28px ~ 32px
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    // view moreとの間隔 + 矢印の幅
    right: calc(-13px - 64px);
    width: 64px;
    height: 10px;
    border: none;
    border-right: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    transform: skew(45deg);
    transition: all 0.3s;

    @include mq(md) {
      width: 95px;
      height: 10px;
      right: calc(-19px - 95px);
    }
  }

  &:hover::after {
    right: -108px;
    width: calc(64px + 30px);

    @include mq(md) {
      right: -146px;
      width: calc(95px + 30px);
    }
  }
}

.more-link__circle {
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--color-accent-yellow);
  width: 40px;
  height: 40px;
  margin-left: 57px;

  &.more-link__circle--yellow {
    background: var(--color-accent-yellow);
  }

  @include mq(md) {
    border: 3px solid var(--color-accent-yellow);
    width: 51px;
    height: 51px;
    margin-left: 89px;
  }
}
