@use "../global" as *;

/*!
component > button
------------------------------
*/
.button{
  display: inline-block;

text-align: center;

font-weight: 500;
cursor: pointer;
}

.button--lg{
  padding-top: 22px;
  padding-bottom: 22px;
  width: 295px;
  font-size: 16px;
}

.button--sm{
  padding-top: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem); // 20px ~ 24px
  padding-bottom: clamp(1.25rem, 0.658rem + 1.05vw, 1.5rem); // 20px ~ 24px
  font-size: clamp(0.813rem, 0.664rem + 0.26vw, 0.875rem); // 13px ~ 14px
  width: clamp(7.813rem, 0.263rem + 13.42vw, 11rem); // 125px ~ 176px
}

.button--primary{
  background: #023E78;
  color: #FFF;
  border: 1px solid currentColor;
}

.button--secondary{
  background: #FFF;
  color: #023E78;
  border: 1px solid currentColor;
}