@use "../global" as *;

/*!
component > form-field
------------------------------
*/
.form-field {
  & + & {
    margin-top: 20px;

    @include mq(md) {
      margin-top: 32px;
    }
  }
}

.form-field__head {
  display: flex;
  align-items: center;
  gap: 12px;

  &.form-field__head--download {
    gap: 8px;

    @include mq(md) {
      gap: 9px;
    }
  }
}

.form-field__label {
  font-size: 14px;
  font-weight: 700;

  @include mq(md) {
    font-size: 18px;
  }

}

.form-field__tag {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background: #e61264;
  padding: 2px 8px;
}

.form-field__item {
  width: 100%;
  margin-top: 8px;
  @include mq(md) {
    margin-top: 12px;
  }
}

.form-text {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 14px;
  padding: 12px 16px;

  @include mq(md) {
    font-size: 16px;
    padding: 10px 16px;
  }

  &::placeholder {
    color: #ccc;
  }
}

.form-select {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #1a1a1a;
    border-right: 2px solid #1a1a1a;
    transform: rotate(135deg);
    content: "";
    pointer-events: none;
  }

  & > span{
    width: 100%;
  }

  & select {
    appearance: none;
    width: 100%;
    padding: 12px 10px 12px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #ccc;
    font-size: 14px;
    cursor: pointer;

    @include mq(md) {
      padding: 10px 16px;
      font-size: 16px;
    }
  }
}

.form-textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 12px 16px;
  font-size: 14px;
  height: 140px;

  @include mq(md) {
    font-size: 16px;
    padding: 10px 16px;
    height: 240px;
  }

  &::placeholder {
    color: #ccc;
  }
}

.contact__privacy {
  margin-top: 40px;
  text-align: center;
}

.form-checkbox {
}

.form-checkbox__input {
  // フォームバリデーションを有効にするため
  appearance: auto;

  // デフォルトcheckboxを非表示に
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked {
    + .wpcf7-list-item-label {
      &:after {
        opacity: 1;
      }
    }
  }

}

.wpcf7-list-item{
margin: 0;
}

  .wpcf7-list-item-label {
  position: relative;
  // チェックボックスの外枠 + チェックボックスとテキストの間隔
  padding-left: calc(28px + 10px);
  white-space: nowrap;

  @include mq(md) {
    padding-left: calc(32px + 10px);
    font-size: 16px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  // チェックボックスの外枠
  &::before {
    width: 28px;
    height: 28px;
    border: 1px solid #3e3e3e;
    background: #fff;

    @include mq(md) {
      width: 32px;
      height: 32px;
    }
  }

  // チェックマーク
  &::after {
    left: 7px;
    top: 2px;
    width: 14px;
    height: 9px;
    border-left: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    transform: rotate(-45deg);
    opacity: 0;

    @include mq(md) {
      left: 8px;
      top: 3px;
      width: 16px;
      height: 10px;
    }
  }

  & a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    padding-right: 6px;

    @include mq(md) {
      padding-right: 10px;
    }
  }
}

.contact__button {
  text-align: center;
  margin-top: 40px;

  & .button-submit {
    width: 295px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 26px;
    padding-bottom: 26px;

    @include mq(md) {
      width: 208px;
      font-size: 16px;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &.button-submit--download {
      @include mq(md) {
        width: 100%;
        max-width: 336px;
      }
    }
  }
}
