@use "../global" as *;

/*!
component > post-list
記事一覧・カテゴリアーカイブの記事リスト
------------------------------
*/
.main {
  @include mq(lg) {
    width: 70%;
    margin-bottom: 175px;
  }
}
.home-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;

  @include mq(lg) {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 27px;
  }
}

.post__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(lg) {
    gap: 40px;
  }
}

.post__list-item {
  display: flex;
  flex-direction: row;
  gap: clamp(0.75rem, 0.416rem + 1.48vw, 1.25rem); // 12px ~ 20px

  @include mq(lg) {
    gap: 20px;
  }
}

.post__list-img {
  & img {
    width: clamp(7.5rem, 2.491rem + 22.26vw, 15rem); // 120px ~ 240px
    aspect-ratio: 120/90;

    @include mq(lg) {
      width: clamp(11.875rem, 2.993rem + 15.79vw, 15.625rem); // 190px ~ 250px
      aspect-ratio: 250/156;
    }
  }
}

.post__list-content {
  width: 100%;
}

.post__list-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__list-left {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--color-accent-red);
  font-weight: 500;

  @include mq(lg) {
    gap: 12px;
  }
}

.post__list-category {
  border: 1px solid var(--color-accent-red);
  font-size: 12px;
  padding: 4px 12px;

  @include mq(lg) {
    font-size: 14px;
    padding: 8px 24px;
  }
}

.new-label {
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }
}

.post__list-right {
}

.post__list-time {
  color: #888;
  font-size: 14px;
  font-weight: 500;
}

.post__list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 7px;

  @include mq(lg) {
    font-size: 16px;
    margin-top: 17px;
    line-height: 1.7;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 6px;

  @include mq(lg) {
    margin-top: 60px;
    gap: 8px;
  }
}

.page-numbers {
  width: 40px;
  height: 40px;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  background: #f8f8f8;
  display: grid;
  place-items: center;
  transition: all 0.3s;

  &:hover {
    color: var(--color-white);
    background: var(--color-main);
  }

  @include mq(lg) {
    width: 50px;
    height: 50px;
  }

  &.prev {
    @include mq(lg) {
      margin-right: 20px;
    }
  }
  &.next {
    @include mq(lg) {
      margin-left: 20px;
    }
  }

  &.current {
    color: var(--color-white);
    background: var(--color-main);
  }
}
