@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@1,700&display=swap");

:root {
  // font-family
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-en: "Fira Sans", sans-serif;
  --font-family-logo: "Roboto", sans-serif;

  // font-color
  --color-black: #1a1a1a;
  --color-white: #fff;

  // color
  // --color-main: #163f74;
  --color-main: #023e78;

  --color-main-dark: #002a52;
  --color-main-light: #eef3f8;
  --color-accent-yellow: #fff400;
  --color-accent-red: #e61264;
}
